<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Letter Count</title>
  <link rel="stylesheet" type="text/css" href="stylesheet.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.min.js'></script>
  <script src="scripts.js"></script>
</head>

<body ng-app="LetterCounterApp">
  <div id="title">
    <h1>Welcome to letter count!</h1>
  </div>
  <div id="readme">
    <p>Please enter text into the box below and we will count the multiplicity of each character!</p>
    <p>Issues? Try the <a href="../oldlettercount">old version</a>!</p>
  </div>
  <div class="container" ng-controller="LetterCounter">
    <div class="form-group">
      <input type="text" class="form-control" id="usr" placeholder="Title" ng-model="board.title" ng-change="countLetters(board.title)">
    </div>
    <div class="checkbox text-center">
      <label><input type="checkbox" ng-model="checkboxModel.ignoreCapitals" ng-change="countLetters(board.title)">Ignore capitaliztion</label>
    </div>
    <p>
      <div id="results">
        Results:
        <div class="letter-counts" ng-repeat="(letter, count) in letterCounts">
          <div ng-class-odd="'same-row grey-row';" ng-class-even="'same-row';"><div>{{letter}}</div></div>:<input class="count-holder" ng-value="count">
        </div>
      </div>
    </p>
    <div id="footer">
      <p>This was created to help make the lives of Resident Assistants easier by doing some boring counting.</p>
      <p>Questions? Comments? Concerns? Ideas? Find me on Twitter <a href="https://twitter.com/meibenny">@meibenny</a>.</p>
      <p>The source code for this is completely free and open source. It can be found at <a href="http://www.github.com/meibenny/countletters"
          target="_blank">github</a>.
        <br> Note: I make no guarantees concerning the accuracy of this tool. Everything should be verified by a human.
      </p>
    </div>
  </div>
</body>

</html>
