#title{
  text-align: center;
  font-family: 'Montserrat';
}
#readme{
  text-align: center;
  font-family: 'Roboto';
}
#form{
  text-align: center;
  clear: both;
  font-family: 'Roboto';
}
#inputbox{
  width: 25%;
  font-size:18px;
  margin: 0 20px;
  font-family: 'Roboto';
}

#limitation{
  color:yellow;
  background-color: red;
  font-family: 'Roboto';
}
#results{
  font-family: 'Roboto';
  text-align: center;
  width: 10.5em;
  margin-left: auto;
  margin-right: auto;
}
#footer{
  text-align: center;
  font-family: 'Roboto';
}
#changelog{
  font-family: 'Roboto';
}
.letter-counts{
  font-family: Courier;
  margin-top: 5px;
  margin-bottom: 5px;
}

.count-holder {
  text-align: center;
  width: 30px;
  color: black;
  display: inline-block;
}

.grey-row {
  background-color: #005a43; /* Pantone 342 */
  background-color: gray;
  color: white;
}

.same-row {
  display: inline-block;
  width: 5em;
  font-weight: bolder;
}